<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Premios </title>
    <link rel ="stylesheet" href="../assets/css/premios.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>


<body class="body">
    <header id="main-header" class="main-header">
        <section class="navbar-facturartemis">
             <img src="../assets/img/side.png" class="logo" alt="Logo" />
             <nav class="navbar-general">
               <nav class="navbar bg-body-tertiary fixed-top">
                 <div class="container-fluid">
                  
                   <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                   <img src="../assets/img/logo.png" width=50>
                   </button>
                   <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                     <div class="offcanvas-header">
                       <img src="../assets/img/logo.png" class="logo2" alt="Logo" />
                       <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                     </div>
                     <div class="offcanvas-body">
                       <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                         <li class="nav-item">
                           <a class="nav-link" aria-current="page" href="./index.html"> <i class="bi bi-house-door-fill"></i> </i> Home</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="./ciclistas.html"> <i class="bi bi-bicycle"></i>  Ciclistas</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="./equipos.html">  <i class="bi bi-people-fill"></i> Equipos </a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="./etapas.html">  <i class="bi bi-flag-fill"></i> Etapas </a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link active" aria-current="page" href="./premios.html">  <i class="bi bi-trophy-fill"></i> </i> Premios </a>
                         </li>
                       </ul>
                       
                     </div>
                   </div>
                 </div>
               </nav>
             </nav>
       </section>
       </header>

 <!-- Button trigger modal -->
 <div class="button-modal container-fluid">

  <i class="plus bi bi-plus-circle fs-1 text-white" data-bs-toggle="modal"data-bs-target="#addPremios" type="button" ></i>

  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addPremios"
  tabindex="-1"
  aria-labelledby="addCategoriasLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addCategoriasLabel">
          ¡Agrega un nuevo premio!
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="formPremios">
          <div class="modal-body">
            <div class="row g-3">
              <div class="col-12">
                <label
                  for="clasificacion"
                  class="form-label"
                  title="clasificacion"
                >
                   Clasificación del ciclista:
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="clasificacion"
                  placeholder="Ingrese la clasificación acorde al premio"
                  name="clasificacion"
                  required
                />
              </div>
              <div class="col-12">
                <label
                  for="descripcion"
                  class="form-label"
                  title="descripcion"
                >
                  Descripción del premio
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="descripcion"
                  placeholder="Ingrese la descripcion del premio"
                  name="descripcion"
                  required
                />
              </div>
              <div class="col-12">
                <label
                  for="primerlugar"
                  class="form-label"
                  title="primerlugar"
                >
                  Cantidad para el primer lugar:
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="primerlugar"
                  placeholder="Ingrese la cantidad del premio al primer lugar"
                  name="primerlugar"
                  required
                />
              </div>
              <div class="col-12">
                <label
                  for="segundolugar"
                  class="form-label"
                  title="segundolugar"
                >
                Cantidad para el segundo lugar:
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="segundolugar"
                  placeholder="Ingrese la cantidad del premio al segundo lugar"
                  name="segundolugar"
                  required
                />
              </div>
              <div class="col-12">
                <label
                  for="tercerlugar"
                  class="form-label"
                  title="tercerlugar"
                >
                Cantidad para el tercer lugar:
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="tercerlugar"
                  placeholder="Ingrese la cantidad del premio al tercer lugar"
                  name="tercerlugar"
                  required
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input
              type="reset"
              class="btn btn-danger text-dark"
              data-bs-dismiss="modal"
              value="Cerrar"
            />
            <input
              type="submit"
              class="btn btn-warning"
              data-accion="enviar"
              id="enviar"
              name="enviar"
              value="Enviar"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>

 <!-- Modal Update -->
 <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h1 class="modal-title fs-5 modaltitulo" id="exampleModalLabel">Editar Premio</h1>
      </div>
      <div class="modal-body">
          <form class="formularios" id="formEditPremio">
            <input type="hidden" id="idEdit" name="">
              <div class="col-12">
                <div class="col-12">
                  <label
                    for="clasificacionEdit"
                    class="form-label"
                    title="clasificacionEdit"
                  >
                     Clasificación del ciclista:
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="clasificacionEdit"
                    placeholder="Ingrese la clasificación acorde al premio"
                    name="clasificacionEdit"
                    required
                  />
                </div>
                <div class="col-12">
                  <label
                    for="descripcionEdit"
                    class="form-label"
                    title="descripcionEdit"
                  >
                    Descripción del premio
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="descripcionEdit"
                    placeholder="Ingrese la descripcion del premio"
                    name="descripcionEdit"
                    required
                  />
                </div>
                <div class="col-12">
                  <label
                    for="primerlugarEdit"
                    class="form-label"
                    title="primerlugarEdit"
                  >
                    Cantidad para el primer lugar:
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="primerlugarEdit"
                    placeholder="Ingrese la cantidad del premio al primer lugar"
                    name="primerlugarEdit"
                    required
                  />
                </div>
                <div class="col-12">
                  <label
                    for="segundolugarEdit"
                    class="form-label"
                    title="segundolugarEdit"
                  >
                  Cantidad para el segundo lugar:
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="segundolugarEdit"
                    placeholder="Ingrese la cantidad del premio al segundo lugar"
                    name="segundolugarEdit"
                    required
                  />
                </div>
                <div class="col-12">
                  <label
                    for="tercerlugarEdit"
                    class="form-label"
                    title="tercerlugarEdit"
                  >
                  Cantidad para el tercer lugar:
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="tercerlugarEdit"
                    placeholder="Ingrese la cantidad del premio al tercer lugar"
                    name="tercerlugarEdit"
                    required
                  />
                </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btnForm" data-bs-dismiss="modal">Cerrar</button>
                  <button type="input" class="btn btn-primary btnForm">Actualizar</button>
          </form>
      </div>
      </div>
  </div>
  </div>
</div>

        <div class="container">
          <div class="row cardisitas">

          </div>
      </div>


      <script src="../components/premios.js" type="module"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>